.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

body {
    margin:auto;
    width:80%;
    padding:25px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 10px;
  font-size: 30px;
}